.large-image-wrapper {
    height: 800px;
    left: 0;
    max-width: none;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    img {
        max-height: none;
        max-width: none;
        position: relative;
    }
}
