.fbi-tabslider {
    height: 600px;
    position: relative;

    .tabs {
        font-size: 0;
        position: absolute;
        text-align: center;
        top: 20px;
        width: 100%;
        z-index: 10;

        .tab {
            .fbi-volvo-button.outlined();
            background-color: #ffffff;
            border-color: @primary-background;
            margin-bottom: 2px;
            margin-right: 2px;

            &:hover,
            &.active {
                background-color: @primary-font-color;
                border-color: @primary-font-color;
                color: @primary-background;
            }

        }
    }

    .tabs-content-container {
        display: block;
        height: 100%;
        overflow: hidden;
        padding-top: 100px;
        position: relative;

        .tab-content {
            display: inline-block;
            height: 100%;
            opacity: 0;
            position: absolute;
            width: 100%;

            &:first-child {
                left: 0;
                opacity: 1;
            }
        }
    }

    @media screen and ( max-width: 768px ) {
        height: 200px;
        margin-bottom: 45px;

        .tabs {
            bottom: -45px;
            top: auto;
        }

        .tab-content {
            background-position: center center;

            .tab-image-content {
                background-position: center center;
                background-size: cover;
                height: 200px;
            }

            .tab-text-content {
                display: none;
            }
        }
    }
}
