.fbi-imageblock() {
    display: table;
    height: 800px;
    position: relative;
    width: 100%;

    .large-image-wrapper {
        height: 100%;
        left: 0;
        max-width: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;

        img {
            max-height: none;
            max-width: none;
            position: relative;
        }
    }

    .image-content-wrapper {
        display: table-cell;
        height: 100%;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        z-index: 2;
    }

    h4 {
        font-size: 18px;
    }

    a {
        .fbi-volvo-button();
    }

    @media screen {

        @media ( max-width: 768px ) {
            min-height: 750px;
        }

        @media ( max-width: 480px ) {
            min-height: 550px;
        }
    }
}
