.fbi-column-row( @cols: 3 ) {
    .fbi-block();
    font-size: 0;
    letter-spacing: 0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 100%;

    > div {
        display: inline-block;
        letter-spacing: 0.9px;
        margin-top: 100px;
        max-width: 100%;
        min-height: 200px;
        min-width: 1000px / @cols;
        padding: 0 20px;
        vertical-align: top;
        width: 100% / @cols;
    }

    a {
        border-color: inherit;
        color: inherit;
        font-weight: 400;

        &:hover {
            .opacity( 0.8 );
        }
    }

    @media screen and ( max-width: 480px ) {
        > div {
            min-width: 0;
            width: 100%;
        }
    }
}
