@import '../overrides.less';

#fbi-content {
    .fbi-volvo-button {
        .button-override();
        -webkit-appearance: none;
        background-color: @button-color;
        border-color: @button-color;
        border-style: solid;
        border-width: 1px;
        color: @button-font-color;
        cursor: pointer;
        display: inline-block;
        font-family: @font-family-medium;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.75px;
        line-height: 24px;
        outline: none;
        padding-bottom: 11px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 13px;
        text-align: center;
        text-transform: uppercase;
        user-select: none;

        &:hover {
            background-color: @button-hover-color;
            color: @button-hover-font-color;
        }

        // Outlined button on light background
        &.outlined {
            .backgroundRgba( 255, 255, 255, 0.3 );
            color: @button-outlined-font-color;

            &:hover {
                background-color: @button-outlined-hover-color;
                color: @button-outlined-hover-font-color;
            }
        }

        // Button on dark background
        &.dark {
            background-color: @button-dark-color;
            color: @button-dark-font-color;

            &:hover {
                background-color: @button-dark-hover-color;
                color: @button-dark-hover-font-color;
            }

            &.outlined {
                .backgroundRgba( 255, 255, 255, 0.3 );
                border-color: @button-outlined-dark-border-color;
                color: @button-outlined-dark-font-color;

                &:hover {
                    background-color: @button-outlined-dark-hover-color;
                    color: @button-outlined-dark-hover-font-color;
                }
            }
        }

    }

}

.fbi-volvo-button {
    #fbi-content.fbi-volvo-button();
}

.fbi-volvo-button.outlined {
    .fbi-volvo-button();
    #fbi-content.fbi-volvo-button.outlined();
}

.fbi-volvo-button.dark {
    .fbi-volvo-button();
    #fbi-content.fbi-volvo-button.dark();
}

.fbi-volvo-button.dark.outlined {
    .fbi-volvo-button();
    #fbi-content.fbi-volvo-button.dark.outlined();
}
