.fbi-volvo-hero-module( ) {
    background-color: #000000;
    color: #ffffff;
    display: table;
    height: 800px;
    position: relative;
    text-align: center;
    width: 100%;

    .hero-img,
    .large-image-wrapper {
        height: 100%;
        left: 0;
        max-width: none;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;

        img {
            max-height: none;
            max-width: none;
            position: relative;
        }

    }

    .headline-wrapper {
        display: table-cell;
        height: 100%;
        position: relative;
        vertical-align: middle;
        width: 100%;
        z-index: 20;
    }

    h4 {
        font-size: 18px;
    }

    a {
        .fbi-volvo-button();
    }

    @media screen {

        @media ( max-width: 768px ) {
            height: 750px;
        }

        @media ( max-width: 480px ) {
            height: 550px;
        }
    }
}
