.fbi-block {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1266px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}
.fbi-block( @img-url ) {
    .fbi-block();
    .fbi-set-img( @img-url );
    background-size: cover;
    color: #ffffff;
    max-width: 100%;
}
