.fbi-gallery {
    .fbi-block();
    height: 800px;
    margin-bottom: 250px;
    margin-top: 60px;
    max-width: 100%;
    position: relative;

    .large-image-wrapper {
        .opacity( 0 );
        height: 800px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &:first-child {
            .opacity( 1 );
        }
    }

    .thumbnails-nav {
        font-size: 0;
        height: auto;
        letter-spacing: 0;
        margin-top: -70px;
        position: absolute;
        text-align: center;
        top: 100%;
        width: 100%;
        z-index: 200;

        li {
            background-color: @brand-color;
            display: inline-block;
            overflow: hidden;
            width: auto;

            a {
                background-size: cover;
                border: 0;
                display: block;
                height: 100%;
                padding: 0 0;
                transition: opacity 0.5s !important;
                width: auto;

                &:hover,
                &.active {
                    .opacity( 0.5 );
                }
            }
        }
    }

    @media screen {
        @media ( max-width: 768px ) {
            height: 450px;

            .large-image-wrapper {
                height: 450px;
            }

            .thumbnails-nav {
                margin-top: 0;
                overflow: hidden;
                top: 100%;

                li {
                    display: block;
                    float: left;
                    width: 33.333%;

                    & + li {
                        left: 33.333%;
                    }

                    & + li + li {
                        left: 66.666%;
                    }

                    a {
                        line-height: 0;
                    }
                }
            }
        }
        @media ( max-width: 480px ) {
            height: 300px;

            .large-image-wrapper {
                height: 300px;
            }
        }
    }
}
