.fbi-splitblock( @img-url, @imgpos: 'img-left', @bg-x: center, @bg-y: bottom) {
    .fbi-block();
    .clearfix();
    align-items: center;
    display: flex;
    margin-top: 100px;
    max-width: 1300px;
    min-height: 450px;
    padding-top: 0;
    position: relative;

    .split-block-content {
        float: right;
        margin-left: 50%;
        padding-left: 20px;
        padding-right: 22px;
        position: relative;
        text-align: left;
        width: 50%;
    }

    .split-block-image {
        bottom: 50px;
        float: left;
        left: 0;
        padding-left: 22px;
        padding-right: 20px;
        position: absolute;
        top: 0;
        width: 50%;

        &:before {
            .fbi-set-img( @img-url );
            background-position: @bg-x @bg-y;
            background-size: cover;
            content: '';
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        display: block;

        .split-block-content {
            float: none;
            margin-left: 0;
            padding-left: 22px;
            padding-right: 22px;
            width: 100%;
        }

        .split-block-image {
            bottom: auto;
            float: none;
            height: 350px;
            left: auto;
            margin-bottom: 40px;
            min-height: none;
            padding-left: 0;
            padding-right: 0;
            position: relative;
            top: auto;
            width: 100%;

            &:before {
                background-position: center bottom;
            }
        }
    }

}

.fbi-splitblock( @img-url, @imgpos: 'img-left', @bg-x: 'center', @bg-y: bottom ) when ( @imgpos = 'img-right' ) {

    .split-block-content {
        float: left;
        margin-left: 0;
        padding-left: 22px;
        padding-right: 20px;
    }

    .split-block-image {
        float: right;
        left: 50%;
        padding-left: 20x;
        padding-right: 22px;
    }
    @media screen and (max-width: 768px) {
        .split-block-image {
            left: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
