.contentslider {
    overflow: hidden;
    position: relative;
    width: 100%;

    .swipable {
        cursor: pointer;
        overflow: hidden;
        position: absolute;
    }

    ._fmaButtoncontainer {
        bottom: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 10;
    }

    ._fmaInnerButtoncontainer {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .fmaButton {
        .fbi-set-img( 'button.png' );
        cursor: pointer;
        display: block;
        float: left;
        height: 11px;
        margin: 0 5px 0 5px;
        width: 11px;
        z-index: 10;
    }

    .fmainactive {
        .fbi-set-img( 'button.png' );
    }

    .fmaButtonhover {
        .fbi-set-img( 'button-selected.png' );
    }

    .fmaactive {
        .fbi-set-img( 'button-selected.png' );
    }

    .fmaSideButton {
        cursor: pointer;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        width: 40px;
        z-index: 10;
    }

    .fmaprev {
        .fbi-set-img( 'arrow-left.png' );
        left: 20px;
    }

    .fmaprevhover {
        .fbi-set-img( 'arrow-left-hover.png' );
    }

    .fmanext {
        .fbi-set-img( 'arrow-right.png' );
        right: 20px;
    }

    .fmanexthover {
        .fbi-set-img( 'arrow-right-hover.png' );
    }
}
