@import 'mixins.less';
@import 'volvo.config.less';
@import 'modules.less';
@import 'volvo.less';

@background-color: @light-grey;
@block-color: @light-grey;
@error-color: #ff3b3b;


#fbi-content {
    background-color: @background-color;
    padding-bottom: 0;

    #kontakt {
        position: relative;
        top: -100px;
    }

    .formblock {
        .fbi-imageblock();
        color: #fff;
        background-image: url('https://static.fbinhouse.se/v60teaser.jpg');
        background-size: cover;

        .feedback {
            display: none;
        }

        .feedback.failure {
            color: @error-color;
        }

        .image-content-wrapper {
            padding: 0 30px 0 30px;
        }

        .originalHeader {
            font-weight: 400;
            font-size: 38px;
            color: #4c4c4c;
            @media screen and (max-width: 768px) {
                font-size: 26px;
            }
        }

        .originalHeader-sub {
            font-weight: 400;
            color: #4c4c4c;
            @media screen and (max-width: 768px) {
                font-size: 15px;
            }
        }

        .success {
            font-weight: 400;
            font-size: 38px;
            @media screen and (max-width: 768px) {
                font-size: 26px;
            }
        }

        form {
            max-width: 800px;
            margin: auto;
        }

        input, select {
            margin-bottom: 25px;
            background: rgba(255,255,255,.95);
        }

        input[type='text'],
        input[type='email'] {
            color: #000000;
            padding-left: 20px;
            padding-right: 20px;
        }

        input, select {
            &.error {
                border-color: @error-color;
                box-shadow: 0 0 10px @error-color;
            }
        }

        select {
            height: 50px;
            background-image: url( '../img/arrow-down.png' );
            background-repeat: no-repeat;
            background-position: 98% center;
            color: #a9a9a9;
        }

        .input-error {
            color: #000000;
            display: block;
            float: right;
            font-size: 12px;
            height: 0;
            padding-right: 20px;
            pointer-events: none;
            position: relative;
            text-align: right;
            top: -58px;
        }
    }
}
@import 'style.1266.less';
@import 'style.768.less';
@import 'style.480.less';
@import 'overrides.less';
