//==========  Volvo Broad  ==========
@font-face {
    font-family: 'Volvo Broad Small';
    font-style: normal;
    font-weight: normal;
    src: url('https://static.fbinhouse.se/VolvoBroadSmallWeb.eot');
    src: url('https://static.fbinhouse.se/VolvoBroadSmallWeb.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoBroadSmallWeb.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoBroadSmallWeb.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoBroadSmallWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Broad';
    font-style: normal;
    font-weight: normal;
    src: url('https://static.fbinhouse.se/VolvoBroadWeb.eot');
    src: url('https://static.fbinhouse.se/VolvoBroadWeb.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoBroadWeb.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoBroadWeb.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoBroadWeb.ttf') format('truetype');
}

//==========  Volvo Sans  ==========
@font-face {
    font-family: 'Volvo Sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Light.eot');
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Light.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Light.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Sans';
    font-style: normal;
    font-weight: 500;
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Regular.eot');
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Regular.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Regular.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Sans';
    font-style: normal;
    font-weight: 600;
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Medium.eot');
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Medium.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Medium.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Sans';
    font-style: normal;
    font-weight: 700;
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Bold.eot');
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Bold.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Bold.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Sans';
    font-style: normal;
    font-weight: 800;
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Super.eot');
    src: url('https://static.fbinhouse.se/VolvoSansWeb-Super.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Super.woff2') format('woff2'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Super.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSansWeb-Super.ttf') format('truetype');
}

//==========  Volvo Serif  ==========

@font-face {
    font-family: 'Volvo Serif';
    font-style: normal;
    font-weight: 500;
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Regular.eot');
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Regular.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Serif';
    font-style: italic;
    font-weight: 500;
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Italic.eot');
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Italic.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Serif';
    font-style: italic;
    font-weight: 700;
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-BoldItalic.eot');
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-BoldItalic.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Volvo Serif';
    font-style: normal;
    font-weight: 700;
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Bold.eot');
    src: url('https://static.fbinhouse.se/VolvoSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Bold.woff') format('woff'),
        url('https://static.fbinhouse.se/VolvoSerifWeb-Bold.ttf') format('truetype');
}
